h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.notification {
  background-color: #c7c7c7;
  color: darkgreen;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  border: 3px solid darkgreen;
}

.error {
  background-color: #c7c7c7;
  color: red;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  border: 3px solid red;
}